---
layout: bsDefault
pageName: home
---

<div class = "row">
  <div class="col-sm-10 blog-main">
    {% for post in paginator.posts %}
    <div class="blog-post">
      <a href= "{{post.url}}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
      <p class="blog-post-meta">{{ page.date | date: '%B %d, %Y' }}</p>
      {{ post.content }}
    </div>
    {% endfor %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li><a href="/page{{ paginator.previous_page }}">Previous</a><li>
        {% endif %}

        {% if paginator.next_page %}
      <li>Next<li>
        {% endif %}
    </ul>
  </div>
</div>
